Repository MartinPiloni1/W17-G6-Bootcamp, pull requests merged in 2025-07, with the labels that each got.

#5 feat/refactor del feat warehouse y conexión a DB
  cmd/server/config.go
  docs/db/migrations/12_06_2025_warehouse.sql
  go.mod
  internal/application/application.go
  internal/handler/warehouse.go
  internal/models/warehouse.go
  internal/repository/repository.go
  internal/repository/warehouse.go
  internal/service/service.go
  internal/service/warehouse.go
  pkg/httperrors/httperrors.go
Labels: Warehouse, refactor

#15 feature/ purchaseOrders
  cmd/server/config.go
  docs/db/migrations/0012_purchaseOrders.sql
  docs/db/seed/dump.sql
  internal/application/application.go
  internal/handler/buyer.go
  internal/handler/purchase_order.go
  internal/models/buyer.go
  internal/models/purchase_order.go
  internal/repository/buyer.go
  internal/repository/purchase_order.go
  internal/repository/repository.go
  internal/service/buyer.go
  internal/service/purchase_order.go
  internal/service/service.go
Labels: feature, purchaseOrder

#28 feature/ testing repository buyer/purchase_order
  go.mod
  go.sum
  internal/application/application.go
  internal/handler/buyer.go
  internal/handler/buyer_test.go
  internal/handler/purchase_order_test.go
  internal/mocks/repository/buyer.go
  internal/mocks/repository/purchase_order.go
  internal/mocks/service/buyer.go
  internal/mocks/service/purchase_order.go
  internal/models/buyer.go
  internal/repository/buyer.go
  internal/repository/buyer_test.go
  internal/repository/purchase_order_test.go
  internal/service/buyer.go
  internal/service/buyer_test.go
  internal/service/purchase_order.go
  internal/service/purchase_order_test.go
  internal/storage/mysql.go
  pkg/utils/datetimes.go
  pkg/utils/datetimes_test.go
Labels: Buyer, purchaseOrder, Tests
